
arrowSize = 50px
// TODO: style for arrows
.carousel
  overflow hidden
  position relative
  .carousel-track
    position relative
    transition-property transform
    display flex
    .carousel-slide
      position relative
      z-index 9
      height 100%
      &.carousel-slide-active
        z-index 10
  .arrow
    position absolute
    height arrowSize
    width arrowSize
    z-index 5
    top 49%
    &.left
      background-color red
      left 1vw
    &.right
      background-color blue
      right 1vw