.carousel
  overflow hidden
  .carousel-track
    position relative
    transition-property transform
    display flex
    .carousel-slide
      position relative
      z-index 9
      height 100%
      &.carousel-slide-active
        z-index 10