
arrowSize = 50px

@keyframes slide-moving-to-edge
  0%
    box-shadow 0 0 10px 0 rgba(black,0.9)
  100%
    box-shadow 0 0 20px 0 rgba(black,0.9)

@keyframes slide-moving-to-middle
  0%
    box-shadow 0 0 20px 0 rgba(black,0.9)
  100%
    box-shadow 0 0 30px 0 rgba(black,0.9)


// TODO: style for arrows
.carousel
  overflow hidden
  position relative
  .carousel-track
    position relative
    transition-property transform
    display flex
    .carousel-slide
      position relative
      z-index 9
      height 100%
      &.carousel-slide-active
        z-index 10
  .arrow
    position absolute
    height arrowSize
    width arrowSize
    z-index 5
    top 49%
    &.left
      background-color red
      left 1vw
    &.right
      background-color blue
      right 1vw
.cards-carousel-wrapper
  overflow hidden
  .cards-carousel
    @extend .carousel
    overflow visible
    .cards-carousel-slide
      display none
      position absolute
      top 0
      left 0
      transition-property transform
      &.cards-carousel-slide-prev, &.cards-carousel-slide-next, &.cards-carousel-slide-active
        display block
      &.cards-carousel-slide-prev
        z-index 1
        &.cards-carousel-slide-prev-before
          z-index 2
      &.cards-carousel-slide-next
        z-index 3
      &.cards-carousel-slide-active
        z-index: 4

      &.moving-to-edge-from-back
        animation slide-moving-to-edge forwards
      &.moving-to-middle
        animation slide-moving-to-middle forwards
      &.moving-to-edge-from-forward
        animation slide-moving-to-middle reverse forwards
      &.moving-to-back
        animation slide-moving-to-edge reverse forwards