primary = #161616
secondary = #BDBDBD
textColor = secondary
footer-color = invert(#2f2f2f)
footer-text-color = black
showed-papers-animation-duration = 2s
hover-link-animation-duration = 0.3s
footer-height = 20vh