@import 'config.styl'


main
  width 100%
  .papers
    display flex
    width 100%
    flex-direction column


@import 'paper.styl'
@import 'diagonal-papers.styl'
@import 'horizon.styl'
@import 'paper-center.styl'
@import 'slider-papers.styl'