@import 'config.styl'


main
  width 100%
  margin-bottom 40vh
  z-index 10
  box-shadow 0 2rem 4rem rgba(0,0,0,0.5)
  position relative
  background-color primary
  .papers
    display flex
    width 100%
    flex-direction column


@import 'paper.styl'
@import 'diagonal-papers.styl'
@import 'horizon.styl'
@import 'paper-center.styl'
@import 'slider-papers.styl'