@import 'config.styl'

.center
  width 90vw
  height 80vh
  margin 10vh 5vw
  position static
  display flex
  flex-direction column-reverse
  .image-wrapper
    display flex
    flex-direction column
    justify-content center
    width 90%
    margin auto
    &::after
      background-color rgba(primary, 0.5)
      transition-property background-color
      transition-duration hover-link-animation-duration
    img
      min-height 300px
      width  100%
      position absolute
      transition-property transform
      transition-duration hover-link-animation-duration
      
  .text
    position static
    display flex
    height 30vh
    flex-direction column
    margin-bottom 5vh
    h1
      margin auto auto auto auto
    .paragraph
      margin 0 auto 0 auto
  &.left
    .text
      h1
        margin-left 0
      .paragraph
        margin 0 30% 0 10%
  &.right
    .text
      h1
        margin-right 0
      .paragraph
        margin 0 10% 0 30%
  &:hover
    .image-wrapper
      &::after
        background-color rgba(primary, 0.35)
      img
        transform scale(1.015)