
// TODO: refactor using text-background stylus mixin
mixin headerPaper(text)
    h1
        span=text
// TODO: add text-background stylus mixina
mixin description(text)
    .paragraph
        p=text

// TODO: add glitch effect to images
mixin paper(data)
    article.paper(class=attributes.class)
        .image-wrapper
            img(src=data.image)
        .text
            +headerPaper(data.header)
            +description(data.text)

mixin diagonal-papers(first,second)
    .diagonal-papers
        +paper(first).top
        +paper(second).bottom

mixin slider-papers(articles)
    .slider-papers
        each article in articles
            +paper(article)


